@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

#log-in-id {
	display: block;
	position: absolute;
	margin-left: 0.5vw;
	height: 100vw;
}

#logOut-btn-id:hover {
	background-color: #4CAF50;
	opacity: 0.8;
}

#logOut-btn-id:active {
	background-color: orange;
}

#logOut-btn-id {
	display: none;
	top: 1vh;
	left: 1vw;
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	background-color: rgba(252, 252, 252, 0.1); /* Green */
	border: none;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	width: 15vw;
}

#login-form-id input::placeholder {
	text-align: center;
	opacity: 0.9;
	color: black;
	font-size: 1.2em;
}

#login-form-id input::onfocus {
}

#login-form-id input {
	font-family: 'Poppins', sans-serif;
	font-size: 0.8em;
	border-radius: 5px;
	padding: 0vw 0.5vw;
	background: transparent;
	color: white;
	height: 2vw;
}

#login-form-id button:hover {
	background-color: #4CAF50;
	opacity: 0.8;
}

#login-form-id button:active {
	background-color: orange;
}

#login-form-id button {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	background-color: transparent; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	width: 10vw;
}
